[Unit]
Description=Gunicorn instance to serve Flask
After=network.target
[Service]
Type=idle
Restart=on-failure
User=root
Group=www-data
WorkingDirectory=/opt/apps
Environment="PATH=/opt/apps/env/bin"
ExecStart=/opt/apps/env/bin/python3 /opt/apps/app.py
[Install]
WantedBy=multi-user.target
